body{
   display: flex;
   flex-direction: column;
   justify-content: center;
    background-color: rgb(0, 0, 0);
    background-image: 
  linear-gradient(transparent 23px,
    rgba(71, 71, 71, 0.8) 24px,
    transparent 24px),
  linear-gradient(90deg,
    transparent 23px,
    rgba(71, 71, 71, 0.8) 24px,
    transparent 24px);
  background-size: 100% 24px, 24px 100%;
  font-family:monospace;
}

header{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.686);
}

header #navbarNav{
  display: flex;
  justify-content: center;
}

#navbarNav li{
  margin-left: 3cm;
  margin-right: 3cm;
}

img{
  display: flex;
  justify-content: center;
}

#themsCV{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7%;
  margin-right: 10px;

}

#themsInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7%;
  margin-right: 10px;
}

#themsArt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7%;
  margin-right: 10px;
}

#themsJV{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7%;
  margin-right: 10px;
}

nav{
  display: flex;
  justify-content: center;
}

.banner{
    position: absolute;
    top:1px;
    height: 30%;
    width: 100%;
    z-index: -1;
   
}

#navbar{
  background-color: rgba(11, 11, 11, 0);
  z-index: 1;
  font-size: large;
}

.thems{
 display: flex;
 flex-direction: row;
 justify-content: center;
  margin-top: 5%;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.5);
}

footer{
  margin-top: 5%;
  background-color: rgb(255, 255, 255,0.6);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}



#myCarousel{
  margin-top: 10%;
  display: flex;
  justify-content: baseline;
}

.imgs{
  background-color: rgba(255, 255, 255, 0.608);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10%;
  width: 85%;
  padding: 5%;
}



